NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_OPENWEATHER_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
CENSUS_API_KEY=
NEXT_PUBLIC_LOOKER_STUDIO_EMBED_URL=
NEXT_PUBLIC_TABLEAU_EMBED_URL=
